footer{
    background-color: #f3f3f3;
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
    width: 100%;
}

footer > p{
    color: rgb(7, 7, 7);
    padding: 5px;
    box-sizing: border-box;
}