.card-label_container{
    position: absolute;
    bottom: 90px;
    right: 0;
}

.card-label_content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d0d0d;
    border-radius: 0 9px;
    color: #f3f3f3;
    font-size: 12px;
    font-family: "Segoe UI", "Helvetica Neue";
    font-weight: bold;
    height: 40px;
    padding: 0 30px
}