
<div class="home-container">
    <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel= "SALE"
    gameType = "DIGITAL PS4 | PS5"
    gamePrice = "R$100,00"
    >

    </app-card>

    <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel = "SALE"
    gameType = "DIGITAL PS4 | PS5"
    gamePrice = "R$250,00"
    >

    </app-card>

    <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel = "NEW"
    gameType = "DIGITAL PS4 | PS5"
    gamePrice = "R$300,00"
    >

    </app-card>

    <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel = "SALE"
    gameType = "PS4"
    gamePrice = "R$300,00"
    >

    </app-card>

    <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel = "SALE"
    gameType = "DIGITAL PS4 | PS5"
    gamePrice = "R$300,00"
    >

    </app-card>

    <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel = "EXCLUSIVE FOR PS5"
    gameType = "PS5"
    gamePrice = "R$300,00"
    >

    </app-card>
</div>
